html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
}


.home {
	height: 600px;
	background-image: url("Images/bg.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.home .container a {
	text-decoration: none;
	color: white;
}


.profile-photo {
	padding-top: 50px;
}

.home .container button {
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: transparent;
	border: 1px solid white;
	font-size: 24px;
}

.home .container button:hover {
	transition: .5s;
	border: 1px solid #009688;
	color: white;
	background-color: #009688;
}


.bottom-banner {
	background-color: #424242;
	padding-bottom: 25px;
	padding-top: 30px;
	bottom: 0;
	position: fixed;
	width: 100%;
}

.bottom-banner .container {
	color: white;
	width: 80%;
	float: center;
}

.bottom-banner h1 {
	margin-bottom: 0;
	margin-top: 0;
}

.bottom-banner a {
	color: white;
}

.bottom-banner a:hover {
	transition: .5s;
	color: #009688;
}

.bottom-text {
	display: inline-block;
	float: left;
}

.bottom-buttons {
	display: inline-block;
	float: right;
}

.bottom-buttons a {
	text-decoration: none;
	color: white;
}

.bottom-buttons button {
	border: 1px solid white;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: transparent;
	font-size: 24px;
	margin-top: 5px;
}

.bottom-buttons button:hover {
	transition: .5s;
	border: 1px solid #009688;
	color: white;
	background-color: #009688;
}


/**----------------ABOUT-------------------**/
.about {
	text-align: center;
	padding-bottom: 100px;
}

.about h1 {
	margin-top: 60px;
}

.about p {
	text-align: left;
}

.about .container button {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: transparent;
	border: 1px solid black;
	font-size: 24px;
}

.about .container button:hover {
	transition: .5s;
	border: 1px solid #009688;
	color: white;
	background-color: #009688;
}

/**-----------------PROJECTS--------------**/
.project-showcase {
	background-color: #334055;
	padding-bottom: 200px;
}

.project-showcase .container {
	text-align: center;
	margin: auto;
	width: 80%;
}

.project-showcase .container img{
	width: 100%;
	margin: 0;
}

.effect  figcaption {
	padding: 20px 20px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: left;
	background-color: rgba(0, 150, 136, 0.6);
	opacity: 0;
	color: white;
	transition: all .4s ease-in-out;
}

.effect figcaption h3 {
	margin: auto;
}

.effect figcaption hr {
	border: 1px solid white;
	width: 60%;
	margin: auto;
	float: left;
}

.effect figcaption p {
	margin: auto;
	margin-top: 10px;
	overflow: hidden;
}

.effect:hover > figcaption {
	transition: all .4s ease-in-out;
	opacity: 1;
}